<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingblocks.suraksha">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".WelcomePage"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivityNav"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".StartTripActivity" />

        <!-- <service android:name=".LocationMonitoringService" /> -->
        <activity android:name=".OngoingTripActivity" />
        <activity android:name=".Contact" />

        <!-- <service android:name=".LocationMonitoringService" /> -->
        <activity
            android:name=".EndTripActivity"
            android:label="@string/title_activity_end_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YesNoActivity"
            android:label="@string/title_activity_yes_no"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".PanicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/panic_widget_info" />
        </receiver>

        <activity android:name=".SafeUnsafeActivity" />
        <activity android:name=".PoliceActivity"></activity>
    </application>

</manifest>